@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply  bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-300;
}

@media screen and (max-width: 650px) {
  .mobile1 {
    display: flex;
    flex-direction: column;
    @apply flex-col-reverse justify-center w-full mx-auto
  }
}

@media screen and (max-width: 600px) {
  .mobile2{
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .mobile3{
    width: 100%;
    margin: auto;
  }
}